{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": ["eslint:recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-constant-condition": "off"
  },
  "ignorePatterns": [
    "*.md",
    "**/*.css",
    "**/*.png",
    "**/*.svg",
    "**/*.woff",
    "**/*.woff2",
    "**/*.ico"
  ]
}
